html {
  font-family: Merriweather, serif;
}

th, td {
  border: 1px solid #ccc;
}

.grey {
  color: #666;
  background-color: #f2f2f2;
  border: 1px solid #666;
  border-radius: 8px;
}

.red {
  color: #991919;
  background-color: #f2bcbc;
  border: 1px solid #991919;
  border-radius: 8px;
}

.green {
  color: #6b7e54;
  background-color: #d1e0bf;
  border: 1px solid #51603f;
  border-radius: 8px;
}

.blue {
  color: #38448e;
  background-color: #d2d6f0;
  border: 1px solid #1d38da;
  border-radius: 8px;
}

.date {
  height: 8.5em;
}

.rob, .kosmos {
  margin-top: .25rem;
}
